textarea, input, select {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3.5px 5px;
}

textarea {
  resize: none;
  font-weight: bold;
}

.btn-linear {
  background-image: linear-gradient(to bottom, white, silver);
}

.btn-linear:hover {
  background-image: linear-gradient(to bottom, silver, white);
}