html {
  min-width: 30rem;
  /* height: 100%; */
}

* {
  font-family: cursive;
}

body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-image: url('../img/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
}

/* preLoad*/

.nav-pre-load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-pre-load button {
  padding: 12px;
  margin-right: 12px;
  border: 2px solid green;
  background-color: white;
  font-weight: bold;
  border-radius: 25px 0;
  transform: scale(1.2);
}

#logout {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid green;
}

#logout:hover {
  background-color: #e67e22;
}

button {
  cursor: pointer;
}

.nav-pre-load button:hover {
  background-color: #e67e22;
}

/* take quiz  */

.test-area {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  min-width: 20rem;
  max-width: 50rem;
  margin: auto;
  margin-top: 5%;
}

.test-info {
  background-color: #e67e22;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to bottom, #e67e22, rgba(247, 225, 184, 0.9));
}

h1 {
  margin: 10px 0;
  color: darkgreen;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    color: lightgreen;
  }
}

.time {
  font-family: sans-serif;
}

#time-left {
  font-size: 30px;
  color: blue;
  font-weight: 540;
}

.test-content {
  height: 60%;
  background-color: rgba(247, 225, 184, 0.9);
  overflow: auto;
}

.test-nav {
  background-color: #e67e22;
  padding: 10px;
}

.next {
  background: none;
  border: none;
  outline: none;
}

.ques {
  border: 1px solid darkgreen;
  border-radius: 15px;
  padding: 20px 10px;
  color: darkgreen;
  font-size: 20px;
}

.quiz-nav {}

.submit-nav {
  margin-top: 10px;
}

.opt-all {
  /* border: 1px solid; */
  /* padding: 10px; */
}

table {
  border-spacing: 10px;
}

.opt {}

.opt-index {
  border: 1px solid;
  border-radius: 50%;
  padding: 5px 12px;
  background-color: green;
  color: white;
}

.opt-tick {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
}

.opt-content {
  line-height: 25px;
  border: 1px solid gray;
  border-radius: 10px;
  /* too long word */
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f1c40f;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  font-family: sans-serif;
  min-width: 9rem;
}

.btn-quiz-nav {
  margin-right: 5px;
  outline: none;
  border: 2px solid #404040;
  border-radius: 5px;
  padding: 5px 10px;
}

.present-quiz {
  transform: scale(1.20);
  box-shadow: 0 0 3px
}

.picked-quiz {
  background-color: green;
}

#btn-submit {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid green;
}

#btn-submit:hover {
  background-color: green;
  color: white;
}