body {
  background-image: url(../img/bg-login.jpg);
  background-size: cover;
  overflow: hidden;
}

button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid green;
}

button:hover {
  background-color: #e67e22;
}

.result {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: auto;
}

table {
  background-color: rgba(113, 179, 115, 0.9);
  font-size: 18px;
  margin-top: 10px;
}

tbody tr:nth-child(even) {
  background-color: wheat;
}

th, td {
  padding: 5px;
  text-align: center;
  min-width: 150px;
}

th {
  position: sticky;
  top: 0;
  background-color: #dea12f;
}